<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Music_Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Music_Club.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
</head>
@{
    Context.Request.Cookies.TryGetValue("FirstName", out string? firstName);
    Context.Request.Cookies.TryGetValue("LastName", out string? lastName);
    Context.Request.Cookies.TryGetValue("Login", out string? login);
}

<body style="background-color:black/*  #004d47 */; padding-bottom: 0;">

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow" style="margin-bottom:0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="MusicClips" asp-action="Index" asp-route-id="@firstName" style="font-size:24px;font-weight:bold;color:#00ff00">MusicClub</a>
                @if (firstName == null)
                {
                    <div style="display: flex;width: 20%">
                        <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login" style="font-size:18px;font-weight:bold;color:#00ff00">Войти</a>

                        <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Register" style="font-size:18px;font-weight:bold;color:#00ff00">Регистрация</a>
                    </div>
                }
                else
                {
                    @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="myModal" style="background:none;border:none;">
                <img src="/image/user.png" />
                </button> *@
                    <span class="navbar-brand" style="color:#00ff00"> @firstName  @lastName</span>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LogOut" style="color:#00ff00">Выйти</a>
                    @* <div class="modal" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content">

                <!-- Заголовок модального окна -->
                <div class="modal-header">
                <h4 class="modal-title">Модальное окно</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Тело модального окна -->
                <div class="modal-body">
                <p>Содержимое вашего модального окна здесь.</p>
                </div>

                <!-- Подвал модального окна -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>

                </div>
                </div>
                </div> *@
                }
            </div>
        </nav>

    </header>
    <div style=" width: 100%; height:82vh; padding-bottom: 0;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container" style="display:flex">
    &copy; 2024 - Music_Club
    <div style="width:800px;height:100px; border-left:1px solid #B5B8B1;border-right:1px solid #B5B8B1;background-color:aqua"></div>
    </div>

    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
